[run]
source =
    todolist_app/models.py
    todolist_app/views.py

omit =
    env/*
    templates/*
    todolist/*
    todolist_app/migrations/*
    todolist_app/__init__.py
    todolist_app/admin.py
    todolist_app/apps.py
    todolist_app/urls.py
    */test*
    manage.py

[report]
exclude_lines =
    pragma: no cover
    def setUp
    def test_
    return raw_input
    print
    if __name__ == '__main__':
    def suite